* {
    box-sizing: border-box;
}

.language {
    position: relative;
    text-align: center;
}

.main {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -170px;
    margin-right: auto;
    margin-left: auto;
}

.references {
    text-align: right;
    margin-right: 10px;
}

.search {
    display: flex;
    width: 550px;
    border-radius: 25px;
    cursor: text;
    border: rgb(197, 196, 196) solid 2px;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
}

input[type="submit"], input[type="text"] {
    height: 35px;
    font-size: 15px;
}

input[type="submit"] {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto 0 auto;
}

.submit {
    display: inline-block;
    width: 135px;
}

.submit_img {
    width: 220px;
}

input[type="text"] {
    display: inline-block;
    margin: auto;
    width: 480px;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

input[type="submit"]:hover {
    border: rgb(197, 196, 196) solid 1px;
}

 .search {
     display: flex;
     width: 550px;
     border-radius: 25px;
     cursor: text;
     border: rgb(197, 196, 196) solid 1px;
     margin-left: auto;
     margin-right: auto;
 }

 .button {
    padding:10px;
    display: flex;
     width: 300px;
     margin-left: auto;
     margin-right: auto;
 }

 img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 30px;
     width: 370px;
 }

 .magglas {
     margin-top: auto;
     margin-bottom: 3px;
     margin-left: 10px;
     width: 20px;
     color: #9aa0a6;
     fill: currentColor;
     
 }

 a {
    display: inline-block;
    margin-left: 10px;
}